<p>Bücherliste von Peter</p>
<br />

<!-- {{books | json}} -->

<p>
    <button (click)="toggleCover()">Cover {{coverIsVisible ? "aus" : "ein"}}blenden</button>
</p>

<div *ngIf="!books.length; else buecherliste">Leider noch keine Bücher vorhanden.</div>

<p>
    Filter:
    <input type="text" [(ngModel)]="filterwert" />
</p>

{{filterwert}}

<ng-template #buecherliste>{{books.length}} Bücher gefunden.

    <table border="1">
        <tr>
            <td>Cover</td>
            <td>ISBN</td>
            <td>Titel</td>
            <td>Rating</td>
            <td>Preis</td>
            <td>Aktion</td>
        </tr>
        <!-- <tr *ngFor="let book of (books | filterbooks:filterwert); index as i;trackBy:getId"> -->
        <tr *ngFor="let book of (books | bookFilter:filterwert); index as i;trackBy:getId">
            <td><img *ngIf="coverIsVisible" [src]="book.coverUrl" [style.width.px]="30" /></td>
            <td>{{i+1}}: {{book.isbn}}</td>
            <td>{{book.title}}</td>
            <td>
                <rating [stars]="book.rating" [id]="book.isbn" (notifyPlus)="plusClicked($event)"></rating>
            </td>
            <td>{{book.price | currency:'EUR':'symbol':'1.2-2'}}</td>
            <td>

                <button (click)="deleteBook(book.isbn)">Löschen</button>


            </td>
        </tr>
    </table>
</ng-template>


<!-- 
{{books}}
{{books | json}} 
-->